
.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-widget-overlay {
    opacity: 0;
    filter: alpha(opacity=0);  /* IE8 and lower */
}

#intro {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#fff;
  z-index:3000;
}

#intro .logo-wrap {
  display:none;
  background:#eee;
  width:400px;
  padding:10px 20px;
  border-radius:20px;
  box-shadow:0 0 10px #000;
  margin:150px auto 0 auto;
}

#intro img {
  width:400px;
}

#notification-list .ui-li-icon, #promotion-page .ui-li-icon  {
  max-height: 32px;
  max-width: 32px;
}

#notification-list .ui-li-has-icon, #promotion-page .ui-li-has-icon {
  padding-left:54px;
  min-height:34px;
}

#notification-list li {
  font-weight:100;
}

#tips li {
  font-weight:100;
}
