* {
  margin:0;
  padding:0;
}

body {
  background:#999;
  padding:0;
}

.notifications {
  height:340px;
}

.ui-mobile [data-role=page] {
  position:relative;
  overflow: none;
  width:480px;
  height:720px;
  margin:0 auto;
  border:0 solid #000;
  border-width:3px 9px;
  border-radius:20px;
}

.footerwrapper {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
}

