* {
  margin:0;
  padding:0;
}

body {
  background:#999;
  padding:20px 0;
}

#wrapper {
  position:relative;
  overflow: none;
  width:480px;
  height:800px;
  margin:0 auto;
  border:0 solid #000;
  border-width:40px 4px;
  border-radius:20px;
}

.ui-mobile [data-role=page] {
  position:inherit;
  height:100%;
}

.footerwrapper {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

